# Cache
__pycache__/
*__pycache__/
**__pycache__/

*.pyc
**.pyc

# Editor and Notebook
.DS_Store
.vscode
.ipynb_checkpoints/
*.ipynb
**.ipynb

# Virtual Environment
swtloc_venv

# Testing files
testrun.py
testimages/
gifimages/
example.gif
images2gif.py
swtres/
dist/*
swtloc.egg-info/*

