# Cache
__pycache__/
*__pycache__/
**__pycache__/

examples/images/*
!examples/images/test_img1/
!examples/images/test_img2/
!examples/images/test_img3/
!examples/images/test_img4/
!examples/images/test_img5/
!examples/images/test_img6/


*.pyc
**.pyc

# Editor and Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/
**.ipynb_checkpoints/

.idea/
*.idea/
**.idea/

.vscode/
*.vscode/
**.vscode/

.DS_Store
*.DS_Store
**.DS_Store

# Testing files
SWTlocResults/

# Build's
dist/
build/
swtloc.egg-info/


# Docs
docs/build/*
docs/source/api_docs/_autosummary/*

# Tests
tests/__test_data__
tests/testall.py
tests/pyv/
tests/createvenvs.sh
tests/variables.sh
logs/