# Cache
__pycache__/
*__pycache__/
**__pycache__/

*.pyc
**.pyc

# Editor and Notebook
.DS_Store
.vscode
.ipynb_checkpoints/
Chasis Number Extraction (SWT)-Refined.ipynb
Chasis Number Extraction (SWT).ipynb
# *.ipynb
# **.ipynb

# Virtual Environment
swtloc_venv

# Testing files
testrun.py
testimages/
gifimages/
example.gif
images2gif.py
swtres/
dist/*
build/*
swtloc.egg-info/*

